:root {
  --bg-color: white;
  --text-color: rgb(122, 248, 19);
}

.dark {
  --bg-color: #1a1a1a;
  --text-color: #e00d0d;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}